# deploy/production/compose/edge_vpn_proxy/Caddyfile
http://netmaker.localtest.me {
    reverse_proxy edge_vpn:8081
}

http://broker.netmaker.localtest.me {
    @ws {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @ws edge_vpn_broker:8083
}
