# deploy/local/compose/edge_http_proxy/Caddyfile

http://edge-vpn.localtest.me {
    reverse_proxy edge_vpn:8081
}

http://edge-vpn-ui.localtest.me {
    reverse_proxy edge_vpn_ui:80
}

http://edge-vpn-broker.localtest.me {
    reverse_proxy edge_vpn_broker:8083
}

http://edge-vpn-broker-ui.localtest.me {
    reverse_proxy edge_vpn_broker:18083
}

http://edge-admin.localtest.me {
    @mcp path /mcp /mcp/*
    handle @mcp {
        reverse_proxy edge_admin_a1:44000 edge_admin_a2:44000 edge_admin_b1:44000 {
            lb_policy ip_hash
        }
    }

    handle {
        reverse_proxy edge_admin_a1:44000 edge_admin_a2:44000 edge_admin_b1:44000
    }
}
